<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> {% block title%} Base Epic Moments Corp {% endblock%}</title>

    <link rel="stylesheet" href="static/css/base.css">

    {% block extra_css %} {% endblock %}
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <div class="container">
        <header class = "encabezado">
            <div class = "logo-nombreEMC">
                <div class="logo">
                    <img src="static/images/emcLogo.png" alt="EMC logo">
                </div>
                <p>Epic Moments Corp</p>
            </div>


            <p>Oficina Madrid</p>
        </header>

        <div class="side-main">
            <aside class = "sidebar">
                <nav class="menu">
                    <ul>
                        <li><a href=""><img src="static/icons/catalogEvento.png" alt="ícono catálogo de eventos">  Catálogo de Eventos</a></li>
                        <li><a href=""><img src="static/icons/contract.png" alt="ícono contratos de eventos">  Contratos de Eventos</a></li>
                        <li><a href=""><img src="static/icons/user.png" alt="ícono clientes">Clientes</a></li>
                        <li><a href=""><img src="static/icons/supplier.png" alt="ícono proveedores">Proveedores</a></li>
                        <li><a href=""><img src="static/icons/service.png" alt="ícono servicios">servicios</a></li>
                        <li><a href=""><img src="static/icons/people.png" alt="ícono empleados">Empleados</a></li>
                    </ul>
                </nav>
    
            </aside>
    
            <main class="mainContent">
                {% block content%}  {% endblock %}
            </main>
        </div>
    </div>
    {% block extra_js %}{% endblock %}
</body>
</html>