{% extends 'base.html'%}

{% block extra_css %}
{% endblock %}

{% block title%} Evento Formulario {% endblock %}


{% block content%}
<form action="{{ url_for('catalogoMain') }}" method="POST">
    <label for="id_evento">ID:</label>
    <input type="text" id="id_evento" name="id_evento" value="{{ evento['id_evento'] }}" required>
    <br>
    <label for="id_oficina">ID Oficina:</label>
    <input type="text" id="id_oficina" name="id_oficina" value="{{ evento.id_oficina }}" required>
    <br>
    <label for="tipo_evento">Tipo de Evento:</label>
    <input type="text" id="tipo_evento" name="tipo_evento" value="{{ evento.tipo_evento }}" required>
    <br>
    <label for="costo_referencial">Costo Referencial:</label>
    <input type="text" id="costo_referencial" name="costo_referencial" value="{{ evento.costo_referencial }}" required>
    <br>
    <input type="hidden" name="accion" value="{{accion}}">
    {% if accion == 'agregar' %}
        <button type="submit">Registrar Datos</button>
    {% elif accion == 'actualizar' %}
        <button type="submit">Actualizar Datos</button>
    {% endif %}
    <button onclick="history.back()">Cancelar</button>
</form>
{% endblock %}

{% block extra_js %}
{% endblock %}