{% extends 'base.html'%}

{% block extra_css %} 
<link rel="stylesheet" href="static/css/tableDesign.css">
{% endblock %}

{% block title%} Catálogo de Eventos {% endblock %}


{% block content%} 

<div class="table-container">
    <h1>Catálogo de Eventos</h1>

    <form action="{{ url_for('catalogoMain') }}" method="POST">
        <input type="text" name="id" placeholder="Buscar...">
        <input type="hidden" name="accion" value="buscar">
        <button type="submit">Buscar por ID</button>
    </form>
    <form action="{{ url_for('catalogoForm') }}" method="GET">
        <button type="submit">Agregar Evento</button>
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Oficina</th>
                <th>Tipo de Evento</th>
                <th>Costo Referencial</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if eventos: %}
            {% for evento in eventos %}
            {% if loop.index % 2 == 0 %}
            <tr class="even-row">
                <td>{{ evento.id_evento }}</td>
                <td>{{ evento.id_oficina }}</td>
                <td>{{ evento.tipo_evento }}</td>
                <td>{{ evento.costo_referencial }}</td>
                <td>
                    <div class="acciones">
                        <form action="{{ url_for('catalogoForm') }}" method="POST" style="display:inline;">
                            <input type="hidden" name="id_evento" value="{{ evento.id_evento }}">
                            <button class="btn-update" type="submit">Actualizar</button>
                        </form>
                        <form action="{{ url_for('catalogoMain') }}" method="POST" style="display:inline;">
                            <input type="hidden" name="id" value="{{ evento.id_evento }}">
                            <input type="hidden" name="accion" value="eliminar">
                            <button class="btn-delete" type="submit">Eliminar</button>
                        </form>
                    </div>

                </td>
            </tr>
            {% else %}
            <tr class="odd-row">
                <td>{{ evento.id_evento }}</td>
                <td>{{ evento.id_oficina }}</td>
                <td>{{ evento.tipo_evento }}</td>
                <td>{{ evento.costo_referencial }}</td>
                <td>
                    <div class="acciones">
                        <form action="{{ url_for('catalogoForm') }}" method="POST" style="display:inline;">
                            <input type="hidden" name="id_evento" value="{{ evento.id_evento }}">
                            <button class="btn-update" type="submit">Actualizar</button>
                        </form>
                        <form action="{{ url_for('catalogoMain') }}" method="POST" style="display:inline;">
                            <input type="hidden" name="id" value="{{ evento.id_evento }}">
                            <input type="hidden" name="accion" value="eliminar">
                            <button class="btn-delete" type="submit">Eliminar</button>
                        </form>
                    </div>

                </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}