{% extends 'base.html'%}

{% block extra_css %}
{% endblock %}

{% block title%} Cliente Formulario {% endblock %}


{% block content%}
<form action="{{ url_for('clienteMain') }}" method="POST">
    <label for="id_cliente">ID:</label>
    <input type="text" id="id_cliente" name="id_cliente" value="{{ cliente['id_cliente'] }}" required>
    <br>
    <label for="nombre_cl">Nombre:</label>
    <input type="text" id="nombre_cl" name="nombre_cl" value="{{ cliente.nombre_cl }}" required>
    <br>
    <label for="apellido_cl">Apellido:</label>
    <input type="text" id="apellido_cl" name="apellido_cl" value="{{ cliente.apellido_cl }}" required>
    <br>
    <label for="correo_cl">Correo:</label>
    <input type="text" id="correo_cl" name="correo_cl" value="{{ cliente.correo_cl }}" required>
    <br>
    <label for="telefono_cl">Teléfono:</label>
    <input type="text" id="telefono_cl" name="telefono_cl" value="{{ cliente.telefono_cl }}" required>
    <br>
    <label for="direccion_cl">Dirección:</label>
    <input type="text" id="direccion_cl" name="direccion_cl" value="{{ cliente.direccion_cl }}" required>
    <br>
    <input type="hidden" name="accion" value="{{accion}}">
    {% if accion == 'agregar' %}
        <button type="submit">Registrar Datos</button>
    {% elif accion == 'actualizar' %}
        <button type="submit">Actualizar Datos</button>
    {% endif %}
    <button onclick="history.back()">Cancelar</button>
</form>
{% endblock %}

{% block extra_js %}
{% endblock %}