{% extends 'base.html'%}

{% block extra_css %} 
<link rel="stylesheet" href="static/css/tableDesign.css">
<link rel="stylesheet" href="static/css/busqueda.css">
<link rel="stylesheet" href="static/css/buttonAgregar.css">
<link rel="stylesheet" href="static/css/cuadroEliminacion.css">
<link rel="stylesheet" href="static/css/buttonConsulta.css">
{% endblock %}

{% block title%} Contratos de Evento {% endblock %}


{% block content%} 
<div class="table-container-contrato">
    <h1>Contratos de Eventos</h1>

    <!-- Busqueda --> 
    <div class="search__container">
        <input id="searchInputContratos" class="search__input" type="text" placeholder="Buscar...">
    </div>
   
    <!-- Agregar botones de consulta -->
    <div style="display: flex; gap: 10px;">
        <form action="{{ url_for('poner') }}" method="POST">
            <input type="hidden" name="accion" value="consultar_oficinas">
            <button type="submit" class="custom-button" id="boton1" onclick="setActiveButton(this, 'boton1')">Consultar contratos generales</button>  
        </form>
        <form action="{{ url_for('poner') }}" method="GET">
            <button type="submit" class="custom-button" id="boton2" onclick="setActiveButton(this, 'boton2')">Consultar contratos locales</button>  
        </form>
    </div>    

    <!-- Agregar Cliente (Button)--> 
      
    <form action="{{ url_for('contratoForm') }}" method="GET">
    <button class="Documents-btn">
        <span class="folderContainer">
        <svg
            class="fileBack"
            width="146"
            height="113"
            viewBox="0 0 146 113"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
            d="M0 4C0 1.79086 1.79086 0 4 0H50.3802C51.8285 0 53.2056 0.627965 54.1553 1.72142L64.3303 13.4371C65.2799 14.5306 66.657 15.1585 68.1053 15.1585H141.509C143.718 15.1585 145.509 16.9494 145.509 19.1585V109C145.509 111.209 143.718 113 141.509 113H3.99999C1.79085 113 0 111.209 0 109V4Z"
            fill="url(#paint0_linear_117_4)"
            ></path>
            <defs>
            <linearGradient
                id="paint0_linear_117_4"
                x1="0"
                y1="0"
                x2="72.93"
                y2="95.4804"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-color="#8F88C2"></stop>
                <stop offset="1" stop-color="#5C52A2"></stop>
            </linearGradient>
            </defs>
        </svg>
        <svg
            class="filePage"
            width="88"
            height="99"
            viewBox="0 0 88 99"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <rect width="88" height="99" fill="url(#paint0_linear_117_6)"></rect>
            <defs>
            <linearGradient
                id="paint0_linear_117_6"
                x1="0"
                y1="0"
                x2="81"
                y2="160.5"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-color="white"></stop>
                <stop offset="1" stop-color="#686868"></stop>
            </linearGradient>
            </defs>
        </svg>
    
        <svg
            class="fileFront"
            width="160"
            height="79"
            viewBox="0 0 160 79"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
            d="M0.29306 12.2478C0.133905 9.38186 2.41499 6.97059 5.28537 6.97059H30.419H58.1902C59.5751 6.97059 60.9288 6.55982 62.0802 5.79025L68.977 1.18034C70.1283 0.410771 71.482 0 72.8669 0H77H155.462C157.87 0 159.733 2.1129 159.43 4.50232L150.443 75.5023C150.19 77.5013 148.489 79 146.474 79H7.78403C5.66106 79 3.9079 77.3415 3.79019 75.2218L0.29306 12.2478Z"
            fill="url(#paint0_linear_117_5)"
            ></path>
            <defs>
            <linearGradient
                id="paint0_linear_117_5"
                x1="38.7619"
                y1="8.71323"
                x2="66.9106"
                y2="82.8317"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-color="#C3BBFF"></stop>
                <stop offset="1" stop-color="#51469A"></stop>
            </linearGradient>
            </defs>
        </svg>
        </span>
        <p class="text">Agregar Contrato</p>
    </button>
    </form>

    <!-- Tabla de Contratos -->
    <table border="1" id="contratosTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Oficina</th>
                <th>ID Evento</th>
                <th>ID Empleado</th>
                <th>ID Cliente</th>
                <th>ID Servicio</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Presupuesto</th>
                <th>Lugar</th>
                <th>Estado del Contrato</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if contratos: %}
            {% for contrato in contratos %}
            {% if loop.index % 2 == 0 %}
            <tr class="odd-row">
                <td>{{ contrato.id_contrato }}</td>
                <td>{{ contrato.id_oficina }}</td>
                <td>{{ contrato.id_evento }}</td>
                <td>{{ contrato.id_empleado }}</td>
                <td>{{ contrato.id_cliente }}</td>
                <td>{{ contrato.id_servicio }}</td>
                <td>{{ contrato.fecha_inicio }}</td>
                <td>{{ contrato.fecha_fin }}</td>
                <td>{{ contrato.presupuesto }}</td>
                <td>{{ contrato.lugar }}</td>
                <td>{{ contrato.estado_contrato }}</td>
                <td>
                    <div class="acciones">
                        <form action="{{ url_for('contratoForm') }}" method="POST" style="display:inline;">
                            <input type="hidden" name="id_contrato" value="{{ contrato.id_contrato }}">
                            <button class="btn-update" type="submit"> <img src="static/icons/edit.png" alt="Editar" class="icon"> Actualizar</button>
                        </form>
                        <form action="{{ url_for('contratoMain') }}" method="POST" style="display:inline;" onsubmit="return mostrarModal(event, this)">
                            <input type="hidden" name="id" value="{{ contrato.id_contrato }}">
                            <input type="hidden" name="accion" value="eliminar">
                            <button class="btn-delete" type="submit"> <img src="static/icons/delete1.png" alt="Eliminar" class="icon"> Eliminar</button>
                        </form>
                    </div>

                </td>
            </tr>
            {% else %}
            <tr class="even-row">
                <td>{{ contrato.id_contrato }}</td>
                <td>{{ contrato.id_oficina }}</td>
                <td>{{ contrato.id_evento }}</td>
                <td>{{ contrato.id_empleado }}</td>
                <td>{{ contrato.id_cliente }}</td>
                <td>{{ contrato.id_servicio }}</td>
                <td>{{ contrato.fecha_inicio }}</td>
                <td>{{ contrato.fecha_fin }}</td>
                <td>{{ contrato.presupuesto }}</td>
                <td>{{ contrato.lugar }}</td>
                <td>{{ contrato.estado_contrato }}</td>
                <td>
                    <div class="acciones">
                        <form action="{{ url_for('contratoForm') }}" method="POST" style="display:inline;">
                            <input type="hidden" name="id_contrato" value="{{ contrato.id_contrato }}">
                            <button class="btn-update" type="submit"> <img src="static/icons/edit.png" alt="Editar" class="icon"> Actualizar</button>
                        </form>
                        <form action="{{ url_for('contratoMain') }}" method="POST" style="display:inline;" onsubmit="return mostrarModal(event, this)">
                            <input type="hidden" name="id" value="{{ contrato.id_contrato }}">
                            <input type="hidden" name="accion" value="eliminar">
                            <button class="btn-delete" type="submit"> <img src="static/icons/delete1.png" alt="Eliminar" class="icon"> Eliminar</button>
                        </form>
                    </div>

                </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<!-- Modal de Confirmación -->
<div id="confirmModal" class="modal">
    <div class="card">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
        </svg>
      
        <p class="confirmHeading">¿Estás seguro?</p>
        <p class="confirmDescription">Esta acción no se puede deshacer.</p>

        <div class="buttonContainer">
            <button id="confirmButton" class="confirmButton">Confirmar</button>
            <button id="cancelButton" class="cancelButton">Cancelar</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="static/js/busqueda.js"></script>
    <script src="static/js/eliminarConfirmacion.js"></script>
    <script src="static/js/buttonConsulta.js"></script>
{% endblock %}