{% extends 'base.html'%}

{% block extra_css %}
{% endblock %}

{% block title%} Empleado Formulario {% endblock %}


{% block content%}
<form action="{{ url_for('empleadoMain') }}" method="POST">
    <label for="id_empleado">ID:</label>
    <input type="text" id="id_empleado" name="id_empleado" value="{{ empleado.id_empleado }}" required>
    <br>
    <label for="id_oficina">ID Oficina:</label>
    <input type="text" id="id_oficina" name="id_oficina" value="{{ empleado.id_oficina }}" required>
    <br>
    <label for="nombre_emp">Nombre:</label>
    <input type="text" id="nombre_emp" name="nombre_emp" value="{{ empleado.nombre_emp }}" required>
    <br>
    <label for="apellido_emp">Apellido:</label>
    <input type="text" id="apellido_emp" name="apellido_emp" value="{{ empleado.apellido_emp }}" required>
    <br>
    <label for="cargo_emp">Cargo:</label>
    <input type="text" id="cargo_emp" name="cargo_emp" value="{{ empleado.cargo_emp }}" required>
    <br>
    <label for="telefono_emp">Teléfono:</label>
    <input type="text" id="telefono_emp" name="telefono_emp" value="{{ empleado.telefono_emp }}" required>
    <br>
    <label for="correo_emp">Email:</label>
    <input type="email" id="correo_emp" name="correo_emp" value="{{ empleado.correo_emp }}" required>
    <br>    
    <input type="hidden" name="accion" value="{{accion}}">
    {% if accion == 'agregar' %}
        <button type="submit">Registrar Datos</button>
    {% elif accion == 'actualizar' %}
        <button type="submit">Actualizar Datos</button>
    {% endif %}
    <button onclick="history.back()">Cancelar</button>
</form>
{% endblock %}

{% block extra_js %}
{% endblock %}