{% extends 'base.html'%}

{% block extra_css %}
<link rel="stylesheet" href="static/css/formulario.css">
{% endblock %}

{% block title%} Empleado Formulario {% endblock %}


{% block content%}

<div class="form-container">

    {% if accion == 'agregar' %}
    <h2>Registrar un nuevo empleado</h2>
    {% elif accion == 'actualizar' %}
    <h2>Actualizar empleado</h2>
    {% endif %}




    <form action="{{ url_for('empleadoMain') }}" method="POST">



        <div class="form-group">
        <label for="id_empleado">ID:</label>
        <input type="text" id="id_empleado" name="id_empleado" value="{{ empleado.id_empleado }}" required>
        </div>


        <div class="form-group">
        <label for="id_oficina">ID Oficina:</label>
        <input type="text" id="id_oficina" name="id_oficina" value="{{ empleado.id_oficina }}" required>
        </div>



        <div class="form-group">
        <label for="nombre_emp">Nombre:</label>
        <input type="text" id="nombre_emp" name="nombre_emp" value="{{ empleado.nombre_emp }}" required>
        </div>



        <div class="form-group">
        <label for="apellido_emp">Apellido:</label>
        <input type="text" id="apellido_emp" name="apellido_emp" value="{{ empleado.apellido_emp }}" required>
        </div>


        <div class="form-group">
        <label for="cargo_emp">Cargo:</label>
        <input type="text" id="cargo_emp" name="cargo_emp" value="{{ empleado.cargo_emp }}" required>
        </div>



        <div class="form-group">
        <label for="telefono_emp">Teléfono:</label>
        <input type="text" id="telefono_emp" name="telefono_emp" value="{{ empleado.telefono_emp }}" required>
        </div>



        <div class="form-group">
        <label for="correo_emp">Email:</label>
        <input type="email" id="correo_emp" name="correo_emp" value="{{ empleado.correo_emp }}" required>
        </div>




        <div class="btn-container">
        
            <input type="hidden" name="accion" value="{{accion}}">
        
        
            {% if accion == 'agregar' %}
            <div>
                <button type="submit">Registrar Datos</button>
            </div>
            {% elif accion == 'actualizar' %}
        
        
            <button type="submit">Actualizar Datos</button>
        
            {% endif %}
            <div>
                <button class="btn-cancelar" onclick="history.back()">Cancelar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}