{% extends 'base.html'%}

{% block extra_css %}
<link rel="stylesheet" href="static/css/formulario.css">
{% endblock %}

{% block title%} Empleado Formulario {% endblock %}


{% block content%}

<div class="form-container">

    {% if accion == 'agregar' %}
    <h2>Registrar una nueva nómina</h2>
    {% elif accion == 'actualizar' %}
    <h2>Actualizar nómina</h2>
    {% endif %}


    <form action="{{ url_for('nominaMain') }}" method="POST">

        {% if accion == 'agregar' %}
        <div class="form-group">
            <label for="id_empleado">ID:</label>
            <input type="text" id="id_empleado" name="id_empleado" value="{{ empleado.id_empleado }}" required>
        </div>
        {% elif accion == 'actualizar' %}
        <div class="form-group">
            <label for="id_empleado">ID:</label>
            <input type="text" id="id_empleado" name="id_empleado" value="{{ empleado.id_empleado }}" readonly>
        </div>
        {% endif %}

        <div class="form-group">
            <label for="salario">Salario:</label>
            <input type="text" id="salario" name="salario" value="{{ empleado.salario }}" required>
        </div>


        <div class="form-group">
            <label for="fecha_contratacion">Fecha de Contratación:</label>
            <input type="date" id="fecha_contratacion" name="fecha_contratacion"
                value="{{ empleado.fecha_contratacion }}" required>
        </div>



        <div class="btn-container">

            <input type="hidden" name="accion" value="{{accion}}">


            {% if accion == 'agregar' %}
            <div>
                <button type="submit">Registrar Datos</button>
            </div>
            {% elif accion == 'actualizar' %}


            <div>
                <button type="submit">Actualizar Datos</button>
            </div>

            {% endif %}
            <div>
                <button class="btn-cancelar" onclick="history.back()">Cancelar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}