{% extends 'base.html'%}

{% block extra_css %} 
<link rel="stylesheet" href="static/css/tableDesign.css">
<link rel="stylesheet" href="static/css/busqueda.css">
<link rel="stylesheet" href="static/css/buttonAgregar.css">
{% endblock %}

{% block title%} Nómina de Empleados {% endblock %}


{% block content%} 
<div class="table-container">
    <h1>Nómina de Empleados</h1>

    <!-- Busqueda --> 
    <div class="search__container">
        <input id="searchInputContratos" class="search__input" type="text" placeholder="Buscar...">
    </div>
   

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Salario</th>
                <th>Fecha de Contratación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if empleados: %}
            {% for empleado in empleados %}
            {% if loop.index % 2 == 0 %}
            <tr class="even-row">
                <td>{{ empleado.id_empleado }}</td>
                <td>{{ empleado.salario }}</td>
                <td>{{ empleado.fecha_contratacion }}</td>
                <td>
                    <div class="acciones">
                        <div class=""></div>
                        <form action="{{ url_for('nominaForm') }}" method="POST" style="display:inline;">
                            <input type="hidden" name="id_empleado" value="{{ empleado.id_empleado }}">
                            <button class="btn-update" type="submit"> <img src="static/icons/edit.png" alt="Editar" class="icon"> Actualizar</button>
                        </form>
                    </div>

                </td>
            </tr>
            {% else %}
            <tr class="odd-row">
                <td>{{ empleado.id_empleado }}</td>
                <td>{{ empleado.salario }}</td>
                <td>{{ empleado.fecha_contratacion }}</td>
                <td>
                    <div class="acciones">
                        <div class=""></div>
                        <form action="{{ url_for('nominaForm') }}" method="POST" style="display:inline;">
                            <input type="hidden" name="id_empleado" value="{{ empleado.id_empleado }}">
                            <button class="btn-update" type="submit"> <img src="static/icons/edit.png" alt="Editar" class="icon"> Actualizar</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}