{% extends 'base.html'%}

{% block extra_css %}
{% endblock %}

{% block title%} Oficina Formulario {% endblock %}


{% block content%}
<form action="{{ url_for('oficinaMain') }}" method="POST">
    <label for="id_oficina">ID:</label>
    <input type="text" id="id_oficina" name="id_oficina" value="{{ oficina.id_oficina }}" required>
    <br>
    <label for="nombre_of">Nombre:</label>
    <input type="text" id="nombre_of" name="nombre_of" value="{{ oficina.nombre_of }}" required>
    <br>
    <label for="ubicacion">Ubicación:</label>
    <input type="text" id="ubicacion" name="ubicacion" value="{{ oficina.ubicacion }}" required>
    <br>
    <input type="hidden" name="accion" value="{{accion}}">
    {% if accion == 'agregar' %}
        <button type="submit">Registrar Datos</button>
    {% elif accion == 'actualizar' %}
        <button type="submit">Actualizar Datos</button>
    {% endif %}
    <button onclick="history.back()">Cancelar</button>
</form>
{% endblock %}

{% block extra_js %}
{% endblock %}