{% extends 'base.html'%}

{% block extra_css %}
{% endblock %}

{% block title%} Proveedor Formulario {% endblock %}


{% block content%}
<form action="{{ url_for('proveedorMain') }}" method="POST">
    <label for="id_proveedor">ID:</label>
    <input type="text" id="id_proveedor" name="id_proveedor" value="{{ proveedor.id_proveedor }}" required>
    <br>
    <label for="id_oficina">ID Oficina  :</label>
    <input type="text" id="id_oficina" name="id_oficina" value="{{ proveedor.id_oficina }}" required>
    <br>
    <label for="nombre_pro">Nombre:</label>
    <input type="text" id="nombre_pro" name="nombre_pro" value="{{ proveedor.nombre_pro }}" required>
    <br>
    <label for="especialidad_pro">Especialidad:</label>
    <input type="text" id="especialidad_pro" name="especialidad_pro" value="{{ proveedor.especialidad_pro }}" required>
    <br>
    <input type="hidden" name="accion" value="{{accion}}">
    {% if accion == 'agregar' %}
        <button type="submit">Registrar Datos</button>
    {% elif accion == 'actualizar' %}
        <button type="submit">Actualizar Datos</button>
    {% endif %}
    <button onclick="history.back()">Cancelar</button>
</form>
{% endblock %}

{% block extra_js %}
{% endblock %}