{% extends 'base.html'%}

{% block extra_css %} 
<link rel="stylesheet" href="static/css/tableDesign.css">
{% endblock %}

{% block title%} Proveedores {% endblock %}


{% block content%} 
<div class="table-container">
    <h1>Proveedores</h1>

    <form action="{{ url_for('proveedorMain') }}" method="POST">
        <input type="text" name="id" placeholder="Buscar...">
        <input type="hidden" name="accion" value="buscar">
        <button type="submit">Buscar por ID</button>
    </form>
    <form action="{{ url_for('proveedorForm') }}" method="GET">
        <button type="submit">Agregar Proveedor</button>
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Oficina</th>
                <th>Nombre</th>
                <th>Especialidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if proveedores: %}
            {% for proveedor in proveedores %}
            {% if loop.index % 2 == 0 %}
            <tr class="even-row">
                <td>{{ proveedor.id_proveedor }}</td>
                <td>{{ proveedor.id_oficina }}</td>
                <td>{{ proveedor.nombre_pro }}</td>
                <td>{{ proveedor.especialidad_pro }}</td>
                <td>
                    <form action="{{ url_for('proveedorForm') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="id_proveedor" value="{{ proveedor.id_proveedor }}">
                        <button class="btn-update" type="submit">Actualizar</button>
                    </form>
                    <form action="{{ url_for('proveedorMain') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="id" value="{{ proveedor.id_proveedor }}">
                        <input type="hidden" name="accion" value="eliminar">
                        <button class="btn-delete" type="submit">Eliminar</button>
                    </form>

                </td>
            </tr>

            {% else %}
            <tr class="odd-row">
                <td>{{ proveedor.id_proveedor }}</td>
                <td>{{ proveedor.id_oficina }}</td>
                <td>{{ proveedor.nombre_pro }}</td>
                <td>{{ proveedor.especialidad_pro }}</td>
                <td>
                    <form action="{{ url_for('proveedorForm') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="id_proveedor" value="{{ proveedor.id_proveedor }}">
                        <button class="btn-update" type="submit">Actualizar</button>
                    </form>
                    <form action="{{ url_for('proveedorMain') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="id" value="{{ proveedor.id_proveedor }}">
                        <input type="hidden" name="accion" value="eliminar">
                        <button class="btn-delete" type="submit">Eliminar</button>
                    </form>

                </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}