{% extends 'base.html'%}

{% block extra_css %}
<link rel="stylesheet" href="static/css/formulario.css">
{% endblock %}

{% block title%} Servicios Formulario {% endblock %}


{% block content%}


<div class="form-container">

    {% if accion == 'agregar' %}
    <h2>Registrar un nuevo servicio</h2>
    {% elif accion == 'actualizar' %}
    <h2>Actualizar servicio</h2>
    {% endif %}




    <form action="{{ url_for('servicioMain') }}" method="POST">


        {% if accion == 'agregar'%}
        <div class="form-group">
            <label for="id_servicio">ID:</label>
            <input type="text" id="id_servicio" name="id_servicio" value="{{ servicio['id_servicio'] }}" required>
        </div>
        <label for="id_contrato">Oficina:</label>
        <select class="opciones_oficina" id="opciones" name="ID Oficina" required>
            <option value="01">Madrid</option>
            <option value="02">Barcelona</option>
        </select>
        {% elif accion == 'actualizar'%}
        <div class="form-group">
            <label for="id_servicio">ID:</label>
            <input type="text" id="id_servicio" name="id_servicio" value="{{ servicio['id_servicio'] }}" readonly>
        </div>
        <div class="form-group">
            <label for="id_oficina">ID Oficina:</label>
            <input type="text" id="id_oficina" name="id_oficina" value="{{ servicio.id_oficina }}" readonly>
        </div>
        {% endif %}


        <div class="form-group">
            <label for="id_proveedor">ID Proveedor:</label>
            <input type="text" id="id_proveedor" name="id_proveedor" value="{{ servicio.id_proveedor }}" required>
        </div>



        <div class="form-group">
            <label for="descripcion_ser">Descripción:</label>
            <input type="text" id="descripcion_ser" name="descripcion_ser" value="{{ servicio.descripcion_ser }}"
                required>
        </div>




        <div class="form-group">
            <label for="precio_ser">Precio:</label>
            <input type="text" id="precio_ser" name="precio_ser" value="{{ servicio.precio_ser }}" required>
        </div>





        <div class="btn-container">

            <input type="hidden" name="accion" value="{{accion}}">


            {% if accion == 'agregar' %}
            <div>
                <button type="submit">Registrar Datos</button>
            </div>
            {% elif accion == 'actualizar' %}


            <div>
                <button type="submit">Actualizar Datos</button>
            </div>

            {% endif %}
            <div>
                <button class="btn-cancelar" onclick="history.back()">Cancelar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}