html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.encabezado {
    flex: 0 1 15%;
    flex-shrink: 1;
    background-color: #1FC794;
    display: flex; /* Activar el modelo Flexbox */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centrar verticalmente si hay contenido */
    width: 100%; /* Asegurarse de que el contenedor ocupe todo el ancho */
}

.side-main {
    flex: 0 1 85%;
    display: flex;
    width: 100%;
}


.sidebar {
    flex: 0 0 18%;
    background-color: #001E41;
}

.mainContent {
    flex: 0 0 82%;
    background-color: #f3fcfb;
}

.logo-nombreEMC {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    margin-left: 25px;
}

.logo-nombreEMC p {
    margin-left: 10px;
}

.logo {
    margin: 5px, 5px, 5px, 5px;
}

.encabezado .logo img {
    width: 100px;
    height: auto;
}

.encabezado p {
    font-size: 25px; /* Tamaño de la fuente */
    color: #FFFFFF; /* Color del texto */
    margin-top: 2px; /* Margen superior e inferior */
    margin-bottom: 2px;
    font-family: 'Arial', sans-serif; /* Tipo de letra */
}

.oficina {
    margin-right: 20px;
}

/*Para configurar el diseño del menu de la barra lateral y los íconos del sidebar*/
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.menu ul li a img {
    width: 25px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    filter: invert(1);
}

.menu ul li a {
    display: flex;
    align-items: center;
    padding: 14px;
    text-decoration: none;
    color: #FFFFFF;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    transition: color 0.3s, box-shadow 0.1s;
}


.menu ul li {
    /*border-bottom: 2px solid black;*/
    margin-bottom: 12px;
}

.menu ul li:hover {
    background-color: #6ada4b;
    border-radius: 16px;
    color: white;
}