.modal {
    display: none;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  

.card {
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    gap: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.confirmButton {
    width: 90px;
    height: 35px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
}

.cancelButton {
    width: 90px;
    height: 35px;
    background-color: #f44336;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
}
