/* Estilos para la tabla */
.table-container {
    width: 100%;
    max-width: 980px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container-contrato {
    width: 100%;
    max-width: 980px;
    overflow-x: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

.table-contrato {
    width: 1900px;
    border-collapse: collapse;
    margin-top: 25px;
}

thead {
    background-color: #001E41;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f4f4f4; /* Color de fondo para filas pares */
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Color de fondo para filas impares */
}

tbody tr:hover {
    background-color: #e9f7e9; /* Efecto al pasar el mouse */
}

tbody td {
    font-size: 14px;
    color: #333;
}

.acciones {
    display: flex;
    gap: 10px;
    
}

/* Estilos para el botón eliminar */
.btn-delete {
    padding: 6px 12px;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.btn-delete:hover {
    background-color: #b60f2a; /* Cambio de color al pasar el mouse */
}


.btn-update {
    padding: 6px 12px;
    background-color: #5fec43;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.btn-update:hover {
    background-color: #48b633;
}


.acciones img {
    width: 25px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    filter: invert(1);
}

